html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-inverse {
    background-color: #28a745 !important;
}

a.mynav {
    background-color: #28a745 !important;
}
.navcos {
    color: white !important;
    text-decoration: none;
}
.navcos:hover {
   color: black !important;
}

.carphoto {
    width: 100% !important;
}