
@model IEnumerable<crud.Models.Client>

<div class="row pt-4">
    <div class="col-6">
        <h2 class="text-primary">Clients list</h2>
    </div>
    <div class="col-6 text-xl-end">
        <a asp-controller="Client" asp-action="Create" class="btn btn-primary">Add new Client</a>
    </div>
</div>
</br>


@if(Model.Count()>0)
{
    <table class=" table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Surname
                </th>
                <th>
                    Email
                </th>
                <th>
                    Money
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var client in Model)
    {
        <tr>          
            <td width="20%">@client.Name</td>
            <td width="20%">@client.Surname</td>
            <td width="20%">@client.Email</td> 
            <td width="20%">@client.Money</td>
        </tr>
    }
        </tbody>
    </table>

}
else
{
    <p>no clients yet :c</p>
}



